@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-weight: 300;
    background: white;
    margin: auto;
    color: rgba(0, 0, 0, 0.8);
    height: 100%;
}

a {
    text-decoration: none;
    color: #2156a5;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2156a5;
}

p {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-weight: 400;
}

li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }

#header {
    height: 67px;
    background: white;
    border-bottom: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}

#title-img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 5px;
}

#title-text {
    color: rgba(0, 0, 0, 0.7) !important;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 50px;
    display: block;
    float: left;
    padding-left: 8px;
}

#title-text-alt {
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 12px;
    position: relative;
    bottom: 3px;
    background: rgba(0,0,100,0.80);
    color: white;
    padding: 5px;
}

#filter-toggle {
    background: none;
    border: none;
    position: relative;
    float: right;
    right: 15px;
    font-size: 28px !important;
    line-height: 50px !important;
    color: rgba(0,0,0,.6);
}

#filter-toggle:hover {
    cursor: pointer;
}

#filters {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background: white;
    padding-top: 1px;
    padding-bottom: 80px;
    position: fixed;
    top: 67px;
    right: 0px;
    max-width: 270px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    z-index: 2;
}

#filter-by {
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.filter-section {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}

#full-width-bg {
    background-repeat: no-repeat !important;
    background-position: center !important; 
    background-size: cover !important;
    height: 100%;
}

#search-wrap {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 475px;
    padding-top: 50px;
    margin-top: 67px;
}

#searchTxt {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto';
    border: 2px solid #ccc;
    background: rgba(255,255,255,0.95);
}

textarea:focus, input:focus{
    outline: none;
    background: rgba(255,255,255,1.0) !important;
}

i.fa.fa-search {
    float: right;
    position: relative;
    bottom: 38px;
    right: 20px;
    font-size: 22px;
    color: rgba(0,0,0,0.5);
    z-index: 1;
}

#spinner {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 15px;
    margin-left: 25px;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#search-results {
    background: rgba(255,255,255,1.0);
    list-style-type: none;
    padding: 0px;
    text-align: left;
    margin-top: 0px;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#search-results li {
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#main {
    height: 100%;
}

#favorites-container {
    padding-left: 15px;
    padding-right: 15px;
}

#favorites-wrapper {
    max-width: 445px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background: rgba(255,255,255,1.0);
    border: 2px solid #ccc;
}

#favorites-title {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    text-align: left;
    padding-right: 15px;
}

#favorites-title .fa-star {
    margin-right: 8px;
}

#favorites {
    padding-left: 20px;
}

#favorites li {
    text-align: left;
    list-style-type: none;
}

.fa-star {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
     text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
    font-size: 27px !important;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
    border: 0px;
    background: none;
    margin-right: 15px;
}

.fa-star:hover {
    cursor: pointer;
}

.fav-active {
    color: yellow;
}

#favorites-title .fav-active:hover {
    cursor: default;
}

#attribution {
    font-size: 16px;
    line-height: 19px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0.95);
    color: white;
    padding: 10px;
    text-align: center;
}

#attribution a {
    color: white;
    text-decoration: underline;
}

/* styles specific to stop pages */

#stop-title {
    font-size: 30px;
    font-weight: 300;
    border-bottom: 0px;
    padding-bottom: 0px;
    float: left;
    margin-top: 95px;
    margin-left: 15px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

#stop-data {
    clear: both;
}

div.departure {
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-weight: 400;
    border-bottom: 1px solid #bbb;
}

p.departure:last-child {
    border-bottom: none;
}

.time {
    float: right;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    position: relative;
    bottom: 10px;
    left: 15px;
    z-index: -1;
    padding: 10px;
    min-width: 75px;
    width: calc(100% - 280px);
}

.route-short {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

.route-number-filter, .route-direction-filter, .route-misc-filter {
    border-radius: 50%;
    border: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto';
    margin-bottom: 3px;
}

.route-direction-filter {
    background: none;
    border: 1px solid grey;
}

.route-misc-filter {
    width: auto;
}

.route-number-filter:hover, .route-direction-filter:hover, .route-misc-filter:hover {
    opacity: 0.95 !important;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.route-name {
    color: rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    font-size: 17px;
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 4px;
}

#load-time {
    color: white;
    background: rgba(0,0,0,0.95);
    display: inline-block;
    margin-top: 25px;
    padding: 2px;
    margin-left: 15px;
}

#current-filters-parent {
    margin-bottom: 20px;
}

.active-filter-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    font-size: 13px;
    box-sizing: content-box;
}

#filter-update-toggle:hover {
    cursor: pointer;
}
