@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-weight: 300;
    background: white;
    margin: auto;
    color: rgba(0, 0, 0, 0.8);
}

.header {
    height: 50px;
    line-height: 50px;
    background: white;
    border-bottom: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.title-img {
    width: 40px;
    float: left;
    margin-top: 5px;
}

.title-2 {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 32px;
    display: block;
    float: left;
    padding-left: 8px;
    padding-top: 8px;
}

.main {
    margin-bottom: 80px;
}

p {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-weight: 400;
}

li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

div.departure {
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-weight: 400;
    border-bottom: 1px solid #bbb;
}

p.departure:last-child {
    border-bottom: none;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    display: block;
}

h1 a {
    color: rgba(0, 0, 0, 0.7) !important;
    text-decoration: none !important;
}

h2 {
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    font-size: 26px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.stop-title {
    font-size: 30px;
    font-weight: 300;
    border-bottom: 0px;
    padding-bottom: 0px;
    float: left;
    margin-top: 95px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #2156a5;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2156a5;
}

.time {
    float: right;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    position: relative;
    bottom: 10px;
    left: 15px;
    z-index: -1;
    padding: 10px;
    min-width: 54px;
    width: calc(100% - 300px);
}

#searchTxt {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 16px;
    font-family: 'Roboto';
    border: 2px solid #ccc;
    border-radius: 50px;
    background: rgba(255,255,255,0.95);
}

.search-wrap {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 475px;
    height: 210px;
    padding-top: 50px;
}

.route-short {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

.route-short-filter {
    border-radius: 50%;
    border: 0px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 2px;
}

.route-short-filter:hover {
    opacity: 0.7 !important;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.route-name {
    color: rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    font-size: 17px;
}

#filters {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background: white;
    padding: 15px;
    padding-top: 1px;
    position: fixed;
    top: 67px;
    right: 0px;
    max-width: 277px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    z-index: 2;
}

.attribution {
    font-size: 14px;
    margin-top: 140px;
    line-height: 19px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: rgba(238,49,36,.8);
    color: white;
    max-width: 74px;
    padding: 10px;
}

.attribution a {
    color: white;
    text-decoration: underline;
}

.fa-star {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    font-size: 27px !important;
    float: right;
    margin-top: 3px;
    margin-left: 5px;
    border: 0px;
    background: none;
    margin-right: 15px;
}

.fa-star:hover {
    cursor: pointer;
}

.fav-active {
    color: yellow;
}

#insert {
    clear: both;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 15px;
    margin-left: 25px;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.filter-toggle {
    background: none;
    border: none;
    position: relative;
    bottom: 52px;
    float: right;
    right: 32px;
    font-size: 28px !important;
    color: rgba(0,0,0,.6);
}

.filter-toggle:hover {
    cursor: pointer;
}

#result {
    background: rgba(255,255,255,0.95);
    list-style-type: none;
    padding: 15px;
    text-align: center;
}

#favorites {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

i.fa.fa-search {
    float: right;
    position: relative;
    bottom: 38px;
    right: 20px;
    font-size: 22px;
    color: rgba(0,0,0,0.5);
    z-index: 1;
}

#current-filters-parent {
    margin-top: 25px;
}

.active-filter-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    padding: 11px;
    margin-left: 6px;
    font-size: 13px;
}

#filter-update-toggle:hover {
    cursor: pointer;
}

.full-width-bg {
    background-repeat: no-repeat !important;
    background-position: center !important; 
}

textarea:focus, input:focus{
    outline: none;
    background: rgba(255,255,255,1.0) !important;
}

#filter-by {
    font-size: 17px;
    font-weight: 400;
}