@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-weight: 300;
    background: #f8f8f8;
    margin: auto;
    color: rgba(0, 0, 0, 0.8);
}

.header {
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background: #13294a;
    border-bottom: 1px solid #ddd;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.title-img {
    width: 40px;
    float: left;
    margin-right: 14px;
}

.title-1, .title-2 {
    line-height: 40px;
    display: block;
    float: left;
}

.title-1 {
    margin-right: 8px;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 25px;
}

.title-2 {
    font-weight: 300;
    font-size: 27px;
    line-height: 40px;
}

.container {
    margin-right: auto;
    /*max-width: 450px;*/
}

.main {
    margin-top: 80px;
}

p {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-weight: 400;
}

li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

div.departure {
    font-size: 16px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-weight: 400;
    border-bottom: 1px solid #bbb;
}

p.departure:last-child {
    border-bottom: none;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

h1 a {
    color: white !important;
    text-decoration: none !important;
}

h2 {
    margin-bottom: 15px;
    margin-top: 25px;
    margin-left: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.stop-title {
    font-size: 30px;
    font-weight: 300;
    border-bottom: 0px;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: #2156a5;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2156a5;
}

.time {
    float: right;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    position: relative;
    bottom: 10px;
    left: 15px;
    z-index: -1;
    padding: 10px;
    min-width: 54px;
    width: calc(100% - 300px);
}

#searchTxt {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    border: 2px solid #ccc;
}

.search-wrap {
    padding-left: 15px;
    padding-right: 15px;
}

.route-short {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}

.route-short-filter {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto';
}

.route-short-filter:hover {
    opacity: 0.7;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.route-name {
    color: rgba(0, 0, 0, 0.8);
    padding-left: 15px;
    font-size: 17px;
}

#filters {
    padding-left: 15px;
    padding-right: 15px;
}