<!doctype html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="Find bus times for the Champaign–Urbana Mass Transit District, UIUC">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
	<title>transit | Champaign-Urbana Transit</title>
	{% endblock %}
</head>

<body>

<nav id="header" role="navigation">
	<a style="display: inline-block" href="/">
		<img id="title-img" src="{{ url_for('static', filename='img/logo.svg') }}" alt="CU Transit logo"/>
		<span id="title-text">transit <span id="title-text-alt">Champaign-Urbana</span></span>
	</a>
	{% block header_right %}<button id="filter-toggle" class="fa fa-filter" aria-expanded="false" aria-label="Toggle Filter section"></button>{% endblock %}
</nav>

<main role="main" id="main">

	<div style="display:none;" id="filters">

		<span id="filter-by">Filter By:</span>

		<span class="filter-section">Stops</span>

		<button class="route-number-filter noselect" style="background-color: rgba(252, 238, 31, 1.0); color: rgb(0, 0, 0);">1</button>
		<button class="route-number-filter noselect" style="background-color: rgba(199, 153, 74, 1.0); color: rgb(0, 0, 0);">10</button>
		<button class="route-number-filter noselect" style="background-color: rgba(252, 238, 31, 1.0); color: rgb(0, 0, 0);">100</button>
		<button class="route-number-filter noselect" style="background-color: rgba(235, 0, 139, 1.0); color: rgb(0, 0, 0);">11</button>
		<button class="route-number-filter noselect" style="background-color: rgba(235, 0, 139, 1.0); color: rgb(0, 0, 0);">110</button>
		<button class="route-number-filter noselect" style="background-color: rgba(0, 105, 145, 1.0); color: rgb(255, 255, 255);">12</button>
		<button class="route-number-filter noselect" style="background-color: rgba(0, 105, 145, 1.0); color: rgb(255, 255, 255);">120</button>
		<button class="route-number-filter noselect" style="background-color: rgba(204, 204, 204, 1.0); color: rgb(0, 0, 0);">13</button>
		<button class="route-number-filter noselect" style="background-color: rgba(204, 204, 204, 1.0); color: rgb(0, 0, 0);">130</button>
		<button class="route-number-filter noselect" style="background-color: rgba(43, 48, 136, 1.0); color: rgb(255, 255, 255);">14</button>
		<button class="route-number-filter noselect" style="background-color: rgba(255, 191, 255, 1.0); color: rgb(0, 0, 0);">16</button>
		<button class="route-number-filter noselect" style="background-color: rgba(178, 210, 53, 1.0); color: rgb(0, 0, 0);">180</button>
		<button class="route-number-filter noselect" style="background-color: rgba(237, 28, 36, 1.0); color: rgb(0, 0, 0);">2</button>
		<button class="route-number-filter noselect" style="background-color: rgba(237, 28, 36, 1.0); color: rgb(0, 0, 0);">20</button>
		<button class="route-number-filter noselect" style="background-color: rgba(0, 0, 0, 1.0); color: rgb(255, 255, 255);">21</button>
		<button class="route-number-filter noselect" style="background-color: rgba(90, 29, 90, 1.0); color: rgb(255, 255, 255);">22</button>
		<button class="route-number-filter noselect" style="background-color: rgba(90, 29, 90, 1.0); color: rgb(255, 255, 255);">220</button>
		<button class="route-number-filter noselect" style="background-color: rgba(167, 139, 192, 1.0); color: rgb(0, 0, 0);">3</button>
		<button class="route-number-filter noselect" style="background-color: rgba(167, 139, 192, 1.0); color: rgb(0, 0, 0);">30</button>
		<button class="route-number-filter noselect" style="background-color: rgba(53, 92, 170, 1.0); color: rgb(255, 255, 255);">4</button>
		<button class="route-number-filter noselect" style="background-color: rgba(0, 128, 99, 1.0); color: rgb(255, 255, 255);">5</button>
		<button class="route-number-filter noselect" style="background-color: rgba(0, 128, 99, 1.0); color: rgb(255, 255, 255);">50</button>
		<button class="route-number-filter noselect" style="background-color: rgba(249, 159, 42, 1.0); color: rgb(0, 0, 0);">6</button>
		<button class="route-number-filter noselect" style="background-color: rgba(128, 130, 133, 1.0); color: rgb(0, 0, 0);">7</button>
		<button class="route-number-filter noselect" style="background-color: rgba(128, 130, 133, 1.0); color: rgb(0, 0, 0);">70</button>
		<button class="route-number-filter noselect" style="background-color: rgba(158, 137, 102, 1.0); color: rgb(0, 0, 0);">8</button>
		<button class="route-number-filter noselect" style="background-color: rgba(130, 86, 34, 1.0); color: rgb(255, 255, 255);">9</button>

		<span class="filter-section">Direction</span>

		<button class="route-direction-filter noselect">N</button>
		<button class="route-direction-filter noselect">S</button>
		<button class="route-direction-filter noselect">E</button>
		<button class="route-direction-filter noselect">W</button>
		<br/>
		<button class="route-direction-filter noselect">A</button>
		<button class="route-direction-filter noselect">B</button>
		<button class="route-direction-filter noselect">C</button>
		<button class="route-direction-filter noselect">U</button>

		<span class="filter-section">Exclude</span>

		<button class="route-misc-filter noselect">Hopper</button>

	</div>

	{% block content %}
	{% endblock %}
	
</main>

{% block footer %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script src="{{ url_for('static', filename='js/favorites.js') }}"></script>
<script>
$(document).ready(function() {
	$('.route-number-filter, .route-direction-filter, .route-misc-filter').click(function() {
		updateStoredFilters( $(this) );
		updateActiveFilterButtons();
		//printActiveFilters();
		showHideDepartures();
	});
})
</script>
{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracking_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ google_tracking_id }}');
</script>

</body>
</html>
