<!doctype html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#13294a">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>MTD Bus | Champaign-Urbana Mass Transit District</title>
	{% endblock %}
</head>

<body>
	<div class="header">
		
		<div class="container">
			<h1>
				<a href="/">
				<img class="title-img" src="{{ url_for('static', filename='favicon.ico') }}"/>
				<span class="title-1">MTD</span>
				<span class="title-2">bus</span>
				</a>
			</h1>
		</div>

  	</div>

    <div class="container main">

			{% block content %}
			{% endblock %}
      
    </div>
</body>


{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}

</html>