<!doctype html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#13294a">
	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>MTD Bus | Champaign-Urbana Mass Transit District</title>
	{% endblock %}
</head>

<body>

<div class="header">
	
	<div class="container">
		{% block header_left %}
		
		{% endblock %}
		<h1>
			<a style="display: inline-block" href="/">
			<img class="title-img" src="{{ url_for('static', filename='favicon.ico') }}"/>
			<span class="title-2">mtd</span>
			</a>
		</h1>
		{% block header_right %}
		
		{% endblock %}
	</div>

</div>

<div class="container main">

	<div style="display:none;" id="filters">
		<h2>Filter By:</h2>

		<button class="route-short-filter noselect" style="background-color: rgba(252, 238, 31, 0.75); color: rgb(0, 0, 0);">1</button>
		<button class="route-short-filter noselect" style="background-color: rgba(199, 153, 74, 0.75); color: rgb(0, 0, 0);">10</button>
		<button class="route-short-filter noselect" style="background-color: rgba(252, 238, 31, 0.75); color: rgb(0, 0, 0);">100</button>
		<button class="route-short-filter noselect" style="background-color: rgba(235, 0, 139, 0.75); color: rgb(0, 0, 0);">11</button>
		<button class="route-short-filter noselect" style="background-color: rgba(235, 0, 139, 0.75); color: rgb(0, 0, 0);">110</button>
		<button class="route-short-filter noselect" style="background-color: rgba(0, 105, 145, 0.75); color: rgb(255, 255, 255);">12</button>
		<button class="route-short-filter noselect" style="background-color: rgba(0, 105, 145, 0.75); color: rgb(255, 255, 255);">120</button>
		<button class="route-short-filter noselect" style="background-color: rgba(204, 204, 204, 0.75); color: rgb(0, 0, 0);">13</button>
		<button class="route-short-filter noselect" style="background-color: rgba(204, 204, 204, 0.75); color: rgb(0, 0, 0);">130</button>
		<button class="route-short-filter noselect" style="background-color: rgba(43, 48, 136, 0.75); color: rgb(255, 255, 255);">14</button>
		<button class="route-short-filter noselect" style="background-color: rgba(255, 191, 255, 0.75); color: rgb(0, 0, 0);">16</button>
		<button class="route-short-filter noselect" style="background-color: rgba(178, 210, 53, 0.75); color: rgb(0, 0, 0);">180</button>
		<button class="route-short-filter noselect" style="background-color: rgba(237, 28, 36, 0.75); color: rgb(0, 0, 0);">2</button>
		<button class="route-short-filter noselect" style="background-color: rgba(237, 28, 36, 0.75); color: rgb(0, 0, 0);">20</button>
		<button class="route-short-filter noselect" style="background-color: rgba(0, 0, 0, 0.75); color: rgb(255, 255, 255);">21</button>
		<button class="route-short-filter noselect" style="background-color: rgba(90, 29, 90, 0.75); color: rgb(255, 255, 255);">22</button>
		<button class="route-short-filter noselect" style="background-color: rgba(90, 29, 90, 0.75); color: rgb(255, 255, 255);">220</button>
		<button class="route-short-filter noselect" style="background-color: rgba(167, 139, 192, 0.75); color: rgb(0, 0, 0);">3</button>
		<button class="route-short-filter noselect" style="background-color: rgba(167, 139, 192, 0.75); color: rgb(0, 0, 0);">30</button>
		<button class="route-short-filter noselect" style="background-color: rgba(53, 92, 170, 0.75); color: rgb(255, 255, 255);">4</button>
		<button class="route-short-filter noselect" style="background-color: rgba(0, 128, 99, 0.75); color: rgb(255, 255, 255);">5</button>
		<button class="route-short-filter noselect" style="background-color: rgba(0, 128, 99, 0.75); color: rgb(255, 255, 255);">50</button>
		<button class="route-short-filter noselect" style="background-color: rgba(249, 159, 42, 0.75); color: rgb(0, 0, 0);">6</button>
		<button class="route-short-filter noselect" style="background-color: rgba(128, 130, 133, 0.75); color: rgb(0, 0, 0);">7</button>
		<button class="route-short-filter noselect" style="background-color: rgba(128, 130, 133, 0.75); color: rgb(0, 0, 0);">70</button>
		<button class="route-short-filter noselect" style="background-color: rgba(158, 137, 102, 0.75); color: rgb(0, 0, 0);">8</button>
		<button class="route-short-filter noselect" style="background-color: rgba(130, 86, 34, 0.75); color: rgb(255, 255, 255);">9</button>
	</div>

	{% block content %}
	{% endblock %}
	
</div>

</body>


{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>

function hexToRgb(hex) {
	var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
	return result ? {
			r: parseInt(result[1], 16),
			g: parseInt(result[2], 16),
			b: parseInt(result[3], 16)
	} : null;
}

$(document).ready(function() {
	$('.filter-toggle').click(function() {
		$('#filters').slideToggle();
	});
})

</script>

{% endblock %}

</html>