{% extends "base.html" %}

{% block head %}
{{ super() }}
	<style>
	#main {margin-top: 67px;}
	#full-width-bg { background: url( "{{ url_for('static', filename='cu.jpg') }}" ); }
	</style>
{% endblock %}

{% block content %}
	<h1 class="visually-hidden">transit | Champaign-Urbana Transit</h1>
	<div id="full-width-bg">
		<div id="search-wrap">
			<input autocomplete="off" type="text" spellcheck="false" id="searchTxt" placeholder="Search for Stops" aria-label="Search Bus Stops"><i class="fa fa-search"></i>

			<div id="spinner"></div>
			<ul id="search-results" style="display:none;"></ul>
		</div>
	</div>

	<div id="favorites-wrapper">
		<h2 id="favorites-title"><i style="float:none" class="fa fa-star fav-active"></i>Favorites</h2>
		<ul id="favorites"></ul>
	</div>

	<p id="attribution">Data provided by <a target="_blank" href="https://mtd.org">CUMTD</a></p>
{% endblock %}

{% block footer %}
{{ super() }}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/favorites.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script>
$( document ).ready(function() {
	listFavorites();
	updateActiveFilterButtons();
	$('.route-short-filter').click(function() {
		updateSavedFilters( $(this) );
		updateActiveFilterButtons();
	});
});      
</script>
{% endblock %}