{% extends "base.html" %}
{% block content %}

<h2 id="title">Search:</h2>

<div class="search-wrap">
    <input autocomplete="off" type="" id="searchTxt" placeholder="Search for Stops">
</div>

<div>
	<ul id="result">
	</ul>
</div>

<h2 id="title">Favorites:</h2>

<ul class="favorites">
	
</ul>

{% endblock %}

{% block footer %}
{{ super() }}

<script>

/*
window.onload = function() {
  var input = document.getElementById("searchTxt").focus();
} */

var delay = (function(){
	var timer = 0;
	return function(callback, ms){
	  clearTimeout (timer);
	  timer = setTimeout(callback, ms);
	};
})();

function getData() {
    searchVar = document.getElementById("searchTxt").value;
    if (searchVar == "") {
		return
	}

    baseUrl = "https://search.mtd.org/v1.0.0/stop/suggest/";
    url = baseUrl + searchVar;

	$('#result').html("");
    $.getJSON(url, function(data) {
		for (i = 0; i < data.length; i++) {
			stopName = data[i]['result']['name'];
			stopID = data[i]['result']['id'];
			$('#result').append("<li>" + "<a href='/stop=" + stopID + "'>" + stopName + "</a>" + "</li>");
		}
    });       
};

$( document ).ready(function() {
    $("#searchTxt").keyup(function(){
        console.log("keyup on input")
		delay(function(){
			getData();
		}, 500 );
	});

	localStorage.setItem('favs','PLAZA###Transit Plaza, FOXSURS###Fox Drive at SURS');
	var favorites = localStorage.getItem('favs');
	var favorites_array = favorites.split(', ');

	for (var i = 0; i < favorites_array.length; i++) {
		//console.log(favorites_array[i]);
		var fav_split = favorites_array[i].split('###');
		$('.favorites').append("<li><a href='/stop=" + fav_split[0] + "'>" + fav_split[1] + "</a></li>" );
	}

	var mylist = $('.favorites');
	var listitems = mylist.children('li').get();
	listitems.sort(function(a, b) {
		return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
	})
	$.each(listitems, function(idx, itm) { mylist.append(itm); });

});
            
</script>

{% endblock %}