{% extends "base.html" %}

{% block head %}
{{ super() }}
	<meta http-equiv="refresh" content="30">

{% endblock %}

{% block content %}

<h2 id="title" class="stop-title"></h2>
<div id="insert"></div>

{% endblock %}

{% block footer %}
{{ super() }}

<script>
	var json = JSON.parse('{{ data | tojson | safe}}');
	var json2 = JSON.parse('{{ title | tojson | safe}}');
</script>
<script src="{{ url_for('static', filename='stop.js') }}"></script>

<script>

$(document).ready(function() {
	getStopData();
	var saved_filter = localStorage.getItem('filter');
	if (saved_filter == "") {
		pass
	}
	else {
		var selected_filters = saved_filter.split(",");
		$('.route-short').each(function() {
			if (!selected_filters.includes($(this).text().slice(0, -1))) {
				$(this).parent().hide();
			}
		});
	}
})
			
</script>

{% endblock %}





