{% extends "base.html" %}

{% block head %}
{{ super() }}
	<style>
	#spinner {
		position: fixed;
		top: 62px;
		left: -8px;
		width: 10px;
		height: 10px;
		border: 2px solid #f3f3f3;
		border-top: 2px solid #3498db;
	}
	</style>
{% endblock %}

{% block content %}
	<h1 id="stop-title"><button class="fa fa-star"></button>{{ stop_name }}</h1>
	<div id="stop-data"></div>
	<div id="spinner" style="display:block"></div>
	<div id="stop-error"></div>
	<div id="no-filtered-results"></div>

	<p id="load-time" style="display:none;"></p>
	<p id="current-filters-parent" style="display:none;">
		Active filters (<a href="#" id='filter-update-toggle' aria-label="Toggle Filter section">update</a>): <span id="current-filters"></span>
	</p>
{% endblock %}

{% block footer %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/stop.js') }}"></script>
<script src="{{ url_for('static', filename='js/favorites.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<script>
function request_stop_data() {
	$.get("/{{ stop_id | safe }}", function(responseText) {
		json = responseText;
	}).done(function() {
		if (json == "") {
			$('#spinner').hide();
			$('#stop-data').html("");
			$('#stop-error').html("<p>There was an error getting the requested data. Please try again later.</p>");
			return
		}
		$('#stop-data').html("");
		$('#stop-error').html("");
		parseStopData();
		getTimeColor();
		updateActiveFilterButtons();
		printActiveFilters();
		showHideDepartures();
		$('#spinner').hide();
		$('#load-time').html( "Loaded at: " + moment().format('h:mm A') );
		$('#load-time').show();
		$('#current-filters-parent').show();
	});
}

$(document).ready(function() {
	request_stop_data();
	setInterval(function() {
		$('#spinner').show();
		request_stop_data();
	}, 30 * 1000); // x * 1000 milsec

	document.title = "{{ stop_name | safe }}" + " | Champaign-Urbana Transit"

	$('.route-short-filter').click(function() {
		updateSavedFilters( $(this) );
		updateActiveFilterButtons();
		printActiveFilters();
		showHideDepartures();
	});

	checkIfStopIsFavorite("{{ stop_name | safe }}");
	$('.fa-star').click(function() {
		addRemoveFavorite( $(this), "{{ stop_id | safe }}", "{{ stop_name | safe }}" );
	});

})
</script>
{% endblock %}





