{% extends "base.html" %}

{% block head %}
{{ super() }}
	<style>
	body {height: calc(100% - 67px);}
	#main {margin-top: 67px;}
	</style>
{% endblock %}

{% block title %}Transit CU - Find bus times for the Champaign–Urbana Mass Transit District{% endblock %}

{% block content %}
	<h1 class="visually-hidden">transit | Champaign-Urbana Transit</h1>
	<div id="full-width-bg">
		<div id="search-wrap">
			<input autocomplete="off" type="text" spellcheck="false" id="searchTxt" placeholder="Search for Stops" aria-label="Search Bus Stops"><i class="fa fa-search"></i>
			<div id="spinner"></div>
			<ul id="search-results" style="display:none;"></ul>
		</div>
		
		<div class="box-wrap">
			<div class="box">
				<h2 class="box-title"><i style="float:none" class="fa fa-star fav-active"></i><span>Favorites</span></h2>
				<ul class="box-list" id="favorites"></ul>
			</div>
		</div>

		<div class="box-wrap">
			<div class="box"">
				<h2 class="box-title"><i style="float:none" class="fa fa-arrow-up"></i><span>Popular</span></h2>
				<ul class="box-list">
					<li><a href="/stop=PLAZA_Transit%20Plaza">Transit Plaza</a></li>
					<li><a href="/stop=IU_Illini%20Union">Illini Union</a></li>
					<li><a href="/stop=GRGLIB_Gregory%20at%20Library">Gregory at Library</a></li>
					<li><a href="/stop=PAR_Pennsylvania%20Ave.%20Residence%20Hall">Pennsylvania Ave. Residence Hall</a></li>
					<li><a href="/stop=KRANNERT_Krannert%20Center">Krannert Center</a></li>
					<li><a href="/stop=1STSTDM_First%20&%20Stadium">First & Stadium</a></li>
				</ul>
			</div>
		</div>

		<div class="box-wrap" style="margin-bottom: 75px">
			<div class="box">
				<h2 class="box-title"><i style="float:none" class="fa fa-map"></i><span>Maps</span></h2>
				<ul class="box-list">
					<li><a target="_blank" rel="noopener" href="https://mtd.org/maps-and-schedules/maps/">Route Maps (mtd.org) <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
					<li><a target="_blank" rel="noopener" href="https://mtd.org/maps-and-schedules/plan-trip/">Trip Planner (mtd.org) <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>

	</div>

	<p id="attribution">
		<i class="fa fa-copyright"></i> Dan Dalpiaz
		&nbsp;&bull;&nbsp;
		<a target="_blank" href="https://github.com/dandalpiaz/transit-cu" rel="noopener"><i class="fa fa-github" style="padding-right: 5px;"></i>Find on Github</a>
		&nbsp;&bull;&nbsp;
		Data provided by <a target="_blank" href="https://mtd.org" rel="noopener">CUMTD</a>
	</p>
{% endblock %}

{% block footer %}
{{ super() }}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>
$( document ).ready(function() {
	listFavorites();
	updateActiveFilterButtons();

	if ( document.documentElement.clientWidth <= 500 ) {
		$('#searchTxt').focusin(function(){
			$('#attribution').css("position", "static");
		});

		$('#searchTxt').focusout(function(){
			$('#attribution').css("position", "fixed");
		});   
	} 
	
});
</script>
{% endblock %}